@charset "UTF-8";
.modal-dialog.generic-modal .modal-container .modal-content .modal-title .title {
    color: #333;
    padding: 0;
    text-align: left;
}

.c-inlist-filter {
    box-sizing: border-box;
    margin: 2.5rem 0;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
}

.c-inlist-filter * {
    box-sizing: border-box;
}

.c-inlist-filter .hide {
    display: none;
}

.c-inlist-filter .no-match {
    color: #333;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: 0;
}

@media (min-width: 720px) {
    .c-inlist-filter .no-match {
        font-size: .9375rem;
        line-height: 1.6;
        letter-spacing: -0.2px;
    }
}

@media (min-width: 960px) {
    .c-inlist-filter .no-match {
        font-size: .9375rem;
        line-height: 1.6;
        letter-spacing: -0.2px;
    }
}

.c-inlist-filter .show-filters {
    line-height: 1.5;
    margin-bottom: 1.5rem;
    width: 100%;
}

.c-inlist-filter .supplier-filters {
    display: none;
    background-color: #fff;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000201;
}

.c-inlist-filter .supplier-filters.show {
    display: block;
}

.c-inlist-filter .supplier-filters.hide {
    display: none;
}

.c-inlist-filter .supplier-filters .filter-criteria > :last-child {
    border-bottom: 0;
    padding-bottom: 107px;
}

.c-inlist-filter .supplier-filters .filter-title .title {
    min-height: 1px;
    padding-left: 0;
    padding-right: 15px;
    position: relative;
    width: 58.33333333%;
    float: left;
    margin-top: 0;
    margin-bottom: 3rem;
}

.c-inlist-filter .supplier-filters .filter-title .modal-trigger {
    color: #333;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.4px;
    line-height: 2;
    color: #2f78c6;
    font-weight: 600;
}

@media (min-width: 720px) {
    .c-inlist-filter .supplier-filters .filter-title .modal-trigger {
        font-size: .75rem;
        line-height: 2;
        letter-spacing: 0.4px;
    }
}

@media (min-width: 960px) {
    .c-inlist-filter .supplier-filters .filter-title .modal-trigger {
        font-size: .75rem;
        line-height: 2;
        letter-spacing: 0.4px;
    }
}

.c-inlist-filter .supplier-filters .filter-title.filter-open {
    align-items: center;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    display: flex;
    justify-content: space-between;
    margin: 0 -1rem 2.5rem;
    padding: 1.125rem 0 1.125rem 1rem;
}

.c-inlist-filter .supplier-filters .filter-title.filter-open .supplier-filter .filter-title {
    align-items: flex-end;
}

.c-inlist-filter .supplier-filters .filter-title.filter-open .title {
    color: #333;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0;
    margin-bottom: 0;
}

@media (min-width: 720px) {
    .c-inlist-filter .supplier-filters .filter-title.filter-open .title {
        font-size: 1.25rem;
        line-height: 1.2;
        letter-spacing: -0.1px;
    }
}

@media (min-width: 960px) {
    .c-inlist-filter .supplier-filters .filter-title.filter-open .title {
        font-size: 1.375rem;
        line-height: 1.4545;
        letter-spacing: -0.2px;
    }
}

.c-inlist-filter .supplier-filters .filter-title.filter-open .close-button span::after {
    content: "";
    font-size: 2.5rem;
}

.c-inlist-filter .supplier-filters .supplier-filter {
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    margin-top: 1.5rem;
}

.c-inlist-filter .supplier-filters .supplier-filter ul {
    padding-left: 0;
}

.c-inlist-filter .supplier-filters .supplier-filter.collapsed ul {
    margin: 0;
    max-height: 0;
    overflow: hidden;
}

.c-inlist-filter .supplier-filters .supplier-filter.collapsed .filter-title {
    margin-bottom: 2rem;
}

.c-inlist-filter .supplier-filters .supplier-filter.collapsed .filter-title .chevron span::after {
    content: "";
}

.c-inlist-filter .supplier-filters .supplier-filter.collapsed .show-buttons {
    display: none;
}

.c-inlist-filter .supplier-filters .supplier-filter .filter-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.c-inlist-filter .supplier-filters .supplier-filter .filter-title .title {
    margin: 0;
    padding-right: 1rem;
}

.c-inlist-filter .supplier-filters .supplier-filter .filter-title .chevron span::after {
    content: "";
    color: #1a65b2;
    font-size: 14px;
    font-weight: 600;
}

.c-inlist-filter .supplier-filters .supplier-filter .radio-group label {
    margin: 0;
}

.c-inlist-filter .supplier-filters .supplier-filter input[type='checkbox'],
.c-inlist-filter .supplier-filters .supplier-filter input[type='radio'] {
    cursor: pointer;
    float: left;
    margin-right: 1rem;
}

.c-inlist-filter .supplier-filters .supplier-filter label {
    color: #333;
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.7142;
    letter-spacing: 0;
    display: table-cell;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 720px) {
    .c-inlist-filter .supplier-filters .supplier-filter label {
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0;
    }
}

@media (min-width: 960px) {
    .c-inlist-filter .supplier-filters .supplier-filter label {
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0;
    }
}

.c-inlist-filter .supplier-filters .supplier-filter li {
    margin-bottom: 1rem;
}

.c-inlist-filter .supplier-filters .supplier-filter li:last-child {
    margin-bottom: 2rem;
}

.c-inlist-filter .supplier-filters .show-buttons .show-more {
    color: #333;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.4px;
    line-height: 2;
    color: #2f78c6;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

@media (min-width: 720px) {
    .c-inlist-filter .supplier-filters .show-buttons .show-more {
        font-size: .75rem;
        line-height: 2;
        letter-spacing: 0.4px;
    }
}

@media (min-width: 960px) {
    .c-inlist-filter .supplier-filters .show-buttons .show-more {
        font-size: .75rem;
        line-height: 2;
        letter-spacing: 0.4px;
    }
}

.c-inlist-filter .supplier-filters .show-buttons .show-more span {
    text-decoration: underline;
}

.c-inlist-filter .supplier-filters .filter-footer {
    background-color: #fff;
    border-top: 1px solid rgba(51, 51, 51, 0.3);
    bottom: 0;
    height: 107px;
    margin: 0 -1rem;
    padding: 1.5rem 2rem 1.5rem 1rem;
    position: fixed;
    width: 100%;
}

.c-inlist-filter .supplier-filters .filter-footer .button-option {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 50%;
    float: left;
}

.c-inlist-filter .supplier-filters .filter-footer .button-option button {
    width: 100%;
}

.c-inlist-filter .filter-tags ul {
    margin: 0;
    padding-left: 0;
}

.c-inlist-filter .filter-tags ul li {
    display: inline-flex;
}

.c-inlist-filter .filter-tags ul li.clear {
    margin-left: .75rem;
}

.c-inlist-filter .filter-tags ul li.clear span {
    color: #333;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.4px;
    line-height: 2;
    color: #2f78c6;
    text-decoration: underline;
}

@media (min-width: 720px) {
    .c-inlist-filter .filter-tags ul li.clear span {
        font-size: .75rem;
        line-height: 2;
        letter-spacing: 0.4px;
    }
}

@media (min-width: 960px) {
    .c-inlist-filter .filter-tags ul li.clear span {
        font-size: .75rem;
        line-height: 2;
        letter-spacing: 0.4px;
    }
}

.c-inlist-filter .filter-tags ul li.filter-tag {
    align-items: center;
    background-color: #f4f8fc;
    border-radius: 6px;
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding: 10px 15px;
}

.c-inlist-filter .filter-tags ul li.filter-tag .tag {
    color: #333;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.4px;
    line-height: 2;
    color: #2f78c6;
    display: inline-block;
    font-weight: 600;
    max-width: 255px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 720px) {
    .c-inlist-filter .filter-tags ul li.filter-tag .tag {
        font-size: .75rem;
        line-height: 2;
        letter-spacing: 0.4px;
    }
}

@media (min-width: 960px) {
    .c-inlist-filter .filter-tags ul li.filter-tag .tag {
        font-size: .75rem;
        line-height: 2;
        letter-spacing: 0.4px;
    }
}

.c-inlist-filter .filter-tags ul li.filter-tag .remove-tag span::after {
    content: "";
    font-size: 21px;
}

.c-inlist-filter .suppliers-info {
    margin-top: 1.5rem;
}

@media (min-width: 720px) {
    .modal-dialog.generic-modal .modal-container .modal-content .modal-title .title {
        color: #333;
        font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3333;
        letter-spacing: 0.1px;
    }
}

@media (min-width: 720px) and (min-width: 720px) {
    .modal-dialog.generic-modal .modal-container .modal-content .modal-title .title {
        font-size: 1.875rem;
        line-height: 1.6;
        letter-spacing: -0.1px;
    }
}

@media (min-width: 720px) and (min-width: 960px) {
    .modal-dialog.generic-modal .modal-container .modal-content .modal-title .title {
        font-size: 2.25rem;
        line-height: 1.3333;
        letter-spacing: -0.2px;
    }
}

@media (min-width: 720px) {
    .c-inlist-filter .supplier-filters .supplier-filter label {
        color: #333;
        font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 1.7142;
        font-weight: normal;
    }
}

@media (min-width: 720px) and (min-width: 720px) {
    .c-inlist-filter .supplier-filters .supplier-filter label {
        font-size: .875rem;
        line-height: 1.7142;
        letter-spacing: 0;
    }
}

@media (min-width: 720px) and (min-width: 960px) {
    .c-inlist-filter .supplier-filters .supplier-filter label {
        font-size: .875rem;
        line-height: 1.7142;
        letter-spacing: 0;
    }
}

@media (min-width: 720px) {
    .c-inlist-filter .supplier-filters .supplier-filter .filter-title .title {
        min-height: 1px;
        padding-left: 0;
        padding-right: 15px;
        position: relative;
        width: 75%;
        float: left;
        font-size: 16px;
    }
    .c-inlist-filter .filter-data {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 83.33333333%;
    }
}

@media (min-width: 720px) and (min-width: 720px) {
    .c-inlist-filter .filter-data {
        width: 83.33333333%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 960px) {
    .c-inlist-filter .filter-data {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 66.66666667%;
    }
}

@media (min-width: 960px) and (min-width: 960px) {
    .c-inlist-filter .filter-data {
        width: 66.66666667%;
        float: left;
    }
}

@media (min-width: 960px) and (min-width: 960px) {
    .c-inlist-filter .filter-data {
        margin-left: 8.33333333%;
    }
}

@media (min-width: 960px) {
    .c-inlist-filter .filter-data .show-filters {
        display: none;
    }
    .c-inlist-filter .supplier-filters {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 25%;
        background-color: transparent;
        display: block;
        overflow-y: hidden;
        z-index: auto;
    }
}

@media (min-width: 960px) and (min-width: 960px) {
    .c-inlist-filter .supplier-filters {
        width: 25%;
        float: left;
    }
}

@media (min-width: 960px) {
    .c-inlist-filter .supplier-filters .filter-criteria > :last-child {
        border-bottom: 1px solid rgba(51, 51, 51, 0.3);
        padding-bottom: 0;
    }
    .c-inlist-filter .supplier-filters .supplier-filter input[type='checkbox'],
    .c-inlist-filter .supplier-filters .supplier-filter input[type='radio'] {
        margin-top: 0;
        margin-right: 19px;
    }
    .c-inlist-filter .supplier-filters .supplier-filter label {
        line-height: 1.3333;
    }
    .c-inlist-filter .supplier-filters .supplier-filter .filter-title {
        display: block;
        position: relative;
    }
    .c-inlist-filter .supplier-filters .supplier-filter .filter-title .title {
        float: none;
        font-size: 16px;
        margin-right: 1rem;
    }
    .c-inlist-filter .supplier-filters .supplier-filter .filter-title .chevron {
        position: absolute;
        right: 0;
        top: 4px;
    }
    .c-inlist-filter .supplier-filters .title {
        color: #333;
        font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0;
        margin-bottom: 2.5rem;
    }
}

@media (min-width: 960px) and (min-width: 720px) {
    .c-inlist-filter .supplier-filters .title {
        font-size: 1.25rem;
        line-height: 1.2;
        letter-spacing: -0.1px;
    }
}

@media (min-width: 960px) and (min-width: 960px) {
    .c-inlist-filter .supplier-filters .title {
        font-size: 1.375rem;
        line-height: 1.4545;
        letter-spacing: -0.2px;
    }
}

@media (min-width: 960px) {
    .c-inlist-filter .supplier-filters .close-button {
        display: none;
    }
    .c-inlist-filter .supplier-filters .filter-footer {
        display: none;
    }
    .c-inlist-filter .suppliers-info {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 66.66666667%;
    }
}

@media (min-width: 960px) and (min-width: 960px) {
    .c-inlist-filter .suppliers-info {
        width: 66.66666667%;
        float: left;
    }
}

@media (min-width: 960px) and (min-width: 960px) {
    .c-inlist-filter .suppliers-info {
        margin-left: 8.33333333%;
    }
}