.c-inlist-supplier-card .supplier-card {
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(51, 51, 51, 0.08), 0 0.5px 5px 2px rgba(51, 51, 51, 0.05);
    -moz-box-shadow: 0 1px 3px 0 rgba(51, 51, 51, 0.08), 0 0.5px 5px 2px rgba(51, 51, 51, 0.05);
    box-shadow: 0 1px 3px 0 rgba(51, 51, 51, 0.08), 0 0.5px 5px 2px rgba(51, 51, 51, 0.05);
    width: 100%;
    margin-bottom: 1.875rem;
    padding: 1.5rem 0;
}

.c-inlist-supplier-card .supplier-card .supplier-heading,
.c-inlist-supplier-card .supplier-card .supplier-body,
.c-inlist-supplier-card .supplier-card .supplier-footer {
    padding: 0 1.25rem;
}

.c-inlist-supplier-card .service-type,
.c-inlist-supplier-card .headquarters,
.c-inlist-supplier-card .supplier-body p {
    color: #333;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.7142;
    font-weight: normal;
}

@media (min-width: 720px) {
    .c-inlist-supplier-card .service-type,
    .c-inlist-supplier-card .headquarters,
    .c-inlist-supplier-card .supplier-body p {
        font-size: .875rem;
        line-height: 1.7142;
        letter-spacing: 0;
    }
}

@media (min-width: 960px) {
    .c-inlist-supplier-card .service-type,
    .c-inlist-supplier-card .headquarters,
    .c-inlist-supplier-card .supplier-body p {
        font-size: .875rem;
        line-height: 1.7142;
        letter-spacing: 0;
    }
}

.c-inlist-supplier-card .service-type {
    font-weight: 600;
    color: #707070;
    margin: 0;
}

.c-inlist-supplier-card .supplier-name {
    color: #333;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.7777;
    margin: 0;
    margin: 0 0 1.5rem;
    height: 58px;
    overflow: hidden;
}

@media (min-width: 720px) {
    .c-inlist-supplier-card .supplier-name {
        font-size: 1.125rem;
        line-height: 1.7777;
        letter-spacing: 0;
    }
}

@media (min-width: 960px) {
    .c-inlist-supplier-card .supplier-name {
        font-size: 1.25rem;
        line-height: 1.4;
        letter-spacing: 0;
    }
}

.c-inlist-supplier-card .headquarters {
    color: #707070;
    height: 23px;
}

.c-inlist-supplier-card .supplier-body p {
    height: 69px;
    overflow: hidden;
}

.c-inlist-supplier-card .supplier-services {
    display: none;
    height: 136px;
    overflow: hidden;
}

.c-inlist-supplier-card .supplier-services h4 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.c-inlist-supplier-card .supplier-services li {
    color: #333;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.7142;
    font-weight: normal;
}

@media (min-width: 720px) {
    .c-inlist-supplier-card .supplier-services li {
        font-size: .875rem;
        line-height: 1.7142;
        letter-spacing: 0;
    }
}

@media (min-width: 960px) {
    .c-inlist-supplier-card .supplier-services li {
        font-size: .875rem;
        line-height: 1.7142;
        letter-spacing: 0;
    }
}

.c-inlist-supplier-card ul {
    list-style: disc;
    margin-bottom: 0;
}

.c-inlist-supplier-card hr {
    margin: 2rem 0;
    display: none;
}

@media (max-width: 719px) {
    .c-inlist-supplier-card .button {
        color: #333;
        font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 1.7142;
        font-weight: normal;
        background-color: transparent;
        color: #1a65b2;
        padding: 0;
    }
}

@media (max-width: 719px) and (min-width: 720px) {
    .c-inlist-supplier-card .button {
        font-size: .875rem;
        line-height: 1.7142;
        letter-spacing: 0;
    }
}

@media (max-width: 719px) and (min-width: 960px) {
    .c-inlist-supplier-card .button {
        font-size: .875rem;
        line-height: 1.7142;
        letter-spacing: 0;
    }
}

@media (max-width: 719px) {
    .c-inlist-supplier-card .button span {
        text-decoration: underline;
    }
    .c-inlist-supplier-card .button span::after {
        content: '';
    }
    .c-inlist-supplier-card .button:hover span {
        padding-right: 0;
    }
}

@media (min-width: 720px) {
    .c-inlist-supplier-card .supplier-card {
        width: calc(50% - 19px);
        display: inline-block;
        vertical-align: top;
    }
    .c-inlist-supplier-card .supplier-card.odd {
        margin-right: 0;
        margin-left: 15px;
    }
    .c-inlist-supplier-card .supplier-card.even {
        margin-right: 15px;
        margin-left: 0;
    }
    .c-inlist-supplier-card .supplier-services {
        display: block;
    }
    .c-inlist-supplier-card .supplier-heading {
        border-bottom: 2px solid #26a2b5;
    }
    .c-inlist-supplier-card .supplier-body {
        margin-top: 1.5rem;
    }
    .c-inlist-supplier-card hr {
        display: block;
    }
    .c-inlist-supplier-card .button {
        width: 100%;
    }
}