@charset "UTF-8";
.tab-set.country-grid {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
    float: left;
    padding: 0;
    position: relative;
    background: #fff;
}

.tab-set.country-grid h2.title {
    width: 100%;
    margin-left: 0 !important;
    z-index: 1;
    background: #fff;
    position: relative;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 48px;
}

.tab-set.country-grid section .tab-panel {
    margin-top: 0;
    padding-top: 0;
    z-index: 1;
}

.tab-set.country-grid .icon {
    background: none;
    padding: 0;
    top: 10px;
    position: absolute;
    font-family: "iconfonts";
    font-style: normal;
    font-size: 40px;
    z-index: 2;
}

.tab-set.country-grid .icon span {
    display: none;
}

.tab-set.country-grid .icon::before {
    color: #333;
}

.tab-set.country-grid .tab-container {
    width: 100%;
    position: relative;
    margin-bottom: 112px;
    float: left;
    padding: 0 15px;
}

.tab-set.country-grid .tab-container .tabs {
    width: 100%;
    margin-left: 0;
    position: relative;
    overflow: hidden;
}

.tab-set.country-grid .tab-container .tab-labels {
    padding: 0;
    overflow: auto;
    z-index: 0;
    position: relative;
}

.tab-set.country-grid .tab-container .tab-labels li {
    float: none;
    display: table-cell;
    white-space: nowrap;
}

.tab-set.country-grid #tab-content {
    z-index: 1;
    margin-top: 20px;
}

.tab-set.country-grid .content-info {
    width: 100%;
}

.tab-set.country-grid .content-info .content-country {
    width: 100%;
}

.tab-set.country-grid .content-info .content-country img {
    width: 30%;
}

.tab-set.country-grid .arrow {
    position: absolute;
}

.tab-set.country-grid .fade-shadow-right::after {
    content: '';
    height: 58px;
    width: 90px;
    position: absolute;
    top: -1px;
    right: 0;
    -webkit-box-shadow: inset -90px 0 50px -44px white;
    -moz-box-shadow: inset -90px 0 50px -44px white;
    box-shadow: inset -90px 0 50px -44px white;
    background: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.tab-set.country-grid .fade-shadow-left::before {
    content: '';
    height: 58px;
    width: 90px;
    position: absolute;
    top: -1px;
    left: 0;
    -webkit-box-shadow: inset 90px 0 50px -44px white;
    -moz-box-shadow: inset 90px 0 50px -44px white;
    box-shadow: inset 90px 0 50px -44px white;
    background: linear-gradient(90deg, #fff, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.tab-set.country-grid .content-country {
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
    float: left;
    float: none;
    z-index: 1;
}

.tab-set.country-grid .content-country > :nth-child(n) {
    margin-top: 32px;
}

.tab-set.country-grid .content-country :first-child {
    margin-top: 0;
}

.tab-set.country-grid .content-country .country-grid-item {
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
    float: left;
    border-radius: 4px;
    background: #fff;
    z-index: 1;
}

.tab-set.country-grid .content-country .country-grid-item .card-img {
    float: left;
    height: 70px;
    margin-bottom: 5px;
    margin-right: 16px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 80px;
}

.tab-set.country-grid .content-country .country-grid-item .card-img img {
    border-radius: 2px;
    position: absolute;
    height: 100%;
}

.tab-set.country-grid .content-country .country-grid-item .card-img.left img {
    left: 0;
}

.tab-set.country-grid .content-country .country-grid-item .card-img.right img {
    right: 0;
}

.tab-set.country-grid .content-country .country-grid-item .card-img.center img {
    left: -25%;
}

.tab-set.country-grid .content-country .country-grid-item .link-country {
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 15px 15px;
    display: block;
}

.tab-set.country-grid .key-line {
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    margin: 32px 0;
    display: block;
    clear: both;
}

.tab-set.country-grid .country-grid-btn {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
    float: left;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 96px;
}

.tab-set.country-grid .hide {
    display: none;
}

@media (min-width: 720px) {
    .tab-set.country-grid {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 100%;
        float: left;
        background: #fff;
    }
    .tab-set.country-grid h2.title {
        margin-top: 80px;
        margin-bottom: 48px;
    }
    .tab-set.country-grid .tab-container .tab-labels-container {
        overflow-x: hidden;
    }
    .tab-set.country-grid .tab-container .tab-labels-container .tab-labels li {
        min-width: auto;
        max-width: none;
    }
    .tab-set.country-grid .tab-container .tab-labels-container .tab-labels li a {
        padding: 19px 18px;
        position: relative;
    }
    .tab-set.country-grid .tab-container .tab-labels-container .tab-labels li a::after {
        content: '';
        position: absolute;
        top: 59px;
        left: 0;
        border-bottom: 1px solid #333;
        width: 100%;
    }
    .tab-set.country-grid .tab-container .tab-labels-container .tab-labels li a.selected {
        padding: 19px 18px 17px;
    }
    .tab-set.country-grid .tab-container .tab-labels-container .tab-labels li a.selected::after {
        display: none;
    }
    .tab-set.country-grid .tab-container .tab-labels {
        padding: 0;
        overflow: hidden;
    }
    .tab-set.country-grid .content-country {
        display: inline-block;
    }
    .tab-set.country-grid .content-country .country-grid-item {
        float: left;
        margin: 0 30px 30px 0;
        width: calc(50% - 30px);
    }
    .tab-set.country-grid .content-country .country-grid-item .card-img {
        float: none;
        min-height: 168px;
        margin: 0;
        position: relative;
        width: 100%;
    }
    .tab-set.country-grid .content-country .country-grid-item .card-img.center img, .tab-set.country-grid .content-country .country-grid-item .card-img.left img, .tab-set.country-grid .content-country .country-grid-item .card-img.right img {
        left: 0;
    }
    .tab-set.country-grid .content-country .country-grid-item .card-img img {
        width: 100%;
        height: auto;
        left: 0;
    }
    .tab-set.country-grid .content-country .country-grid-item .link-country {
        padding: 15px 15px;
        display: block;
    }
    .tab-set.country-grid .country-grid-item {
        border: 1px solid rgba(51, 51, 51, 0.3);
        z-index: 1;
    }
    .tab-set.country-grid .country-grid-item img {
        width: 33%;
    }
    .tab-set.country-grid .country-grid-item .link-country {
        padding: 15px 15px;
        display: block;
    }
    .tab-set.country-grid .icon-arrow-right {
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        right: 0;
        display: none;
    }
    .tab-set.country-grid .icon-arrow-right::before {
        content: "";
    }
    .tab-set.country-grid .icon-arrow-left {
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        left: 0;
        display: none;
    }
    .tab-set.country-grid .icon-arrow-left::before {
        content: "";
    }
    .tab-set.country-grid .show {
        display: block;
    }
}

@media (min-width: 960px) {
    .tab-set.country-grid nav {
        width: 100%;
        margin-left: 0;
    }
    .tab-set.country-grid .tab-container .tab-labels-container {
        width: 100%;
    }
    .tab-set.country-grid .tab-container .tab-labels-container .tab-labels {
        max-width: 100%;
        min-width: 100%;
    }
    .tab-set.country-grid .content-country .country-grid-item {
        width: calc(33% - 30px);
    }
}

@supports (display: grid) {
    .tab-set.country-grid .content-country {
        display: grid;
        grid-auto-flow: dense;
        grid-gap: 30px;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
    .tab-set.country-grid .content-country > :nth-child(n) {
        margin-top: 0;
    }
}

@supports (display: grid) {
    @media (min-width: 720px) {
        .tab-set.country-grid .content-country {
            grid-template-columns: repeat(2, 1fr);
        }
        .tab-set.country-grid .content-country .country-grid-item {
            margin: 0;
            width: 100%;
        }
    }
}

@supports (display: grid) {
    @media (min-width: 960px) {
        .tab-set.country-grid .content-country {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
