@charset "UTF-8";
.c-article-authors-body-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.c-article-authors-body-component .main-title h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
}

.c-article-authors-body-component .authors-list .author {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 1.25rem;
}

.c-article-authors-body-component .authors-list .author .author-info .author-name h4,
.c-article-authors-body-component .authors-list .author .author-info .author-job-title {
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.c-article-authors-body-component .authors-list .author .author-image-wrapper {
    margin-right: 1rem;
}

.c-article-authors-body-component .authors-list .author .author-image-wrapper img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.c-article-authors-body-component .authors-list .author .author-info .author-name {
    text-decoration: none;
}

.c-article-authors-body-component .authors-list .author .author-info .author-name h4 {
    color: #2f78c6;
    font-size: .875rem;
    line-height: 1.113rem;
    letter-spacing: .025rem;
    margin-top: 0;
    margin-bottom: .5rem;
}

.c-article-authors-body-component .authors-list .author .author-info .author-job-title {
    font-size: .75rem;
    line-height: .938rem;
    letter-spacing: .025rem;
    margin-bottom: 1.25rem;
}

.c-article-authors-body-component .authors-list .author .author-linkedin-link {
    text-decoration: none;
}

.c-article-authors-body-component .authors-list .author .author-linkedin-link span {
    display: none;
}

.c-article-authors-body-component .authors-list .author .author-linkedin-link::after {
    color: #4386ac;
    content: "";
    font-family: "iconfonts";
}

.c-article-authors-body-component .authors-list .author:last-child {
    margin-bottom: 3.252rem;
}