.show-separator,
.keyline,
.separator {
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}

/**paddings for content heading **/
.spacing-content-headings {
    margin: 16px 0;
}

@media (min-width: 960px) {
    .spacing-content-headings {
        margin: 32px 0;
    }
}

.articlerightcontainer .c-event-related-info {
    padding-right: 0;
}

.c-event-related-info {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin: 32px 0;
}

.c-event-related-info * {
    box-sizing: border-box;
}

.c-event-related-info p {
    margin: 0;
}

.c-event-related-info .hide {
    display: none;
}

.c-event-related-info .cta {
    display: inline-block;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    margin-top: 16px;
}

.c-event-related-info .title {
    margin-bottom: 16px;
}

.c-event-related-info .event-webinar,
.c-event-related-info .event-audience {
    margin-bottom: 32px;
}
