.c-tool-tip {
    display: inline-flex;
    vertical-align: top;
}

.c-tool-tip .tool-tip-triggerer {
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    padding: 0;
    margin-left: .625rem;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    z-index: 0;
}

.c-tool-tip .tool-tip-triggerer:focus-visible {
    outline: none;
}

.c-tool-tip .tool-tip-text {
    display: block;
    position: absolute;
    width: calc(100% + 1.875rem);
    margin: 0;
    margin-left: -.9375rem;
    background-color: #333;
    border-radius: 3px;
    z-index: 1;
    left: 0;
    bottom: 34px;
    padding: .5rem;
    transition: opacity 0.2s cubic-bezier(0.65, 0.05, 0.36, 1), visibility 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.c-tool-tip .tool-tip-text p {
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin: 0;
}

.c-tool-tip::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 15px;
    margin-left: .625rem;
    border-color: #333 transparent transparent;
    border-width: 10px;
    border-style: solid;
    transition: opacity .2s, visibility .2s;
    z-index: 0;
}

.c-tool-tip.hide-tool-text .tool-tip-text, .c-tool-tip.hide-tool-text::before {
    visibility: hidden;
    opacity: 0;
}

@media (min-width: 720px) {
    .c-tool-tip {
        position: relative;
    }
    .c-tool-tip .tool-tip-text {
        min-width: 444px;
        width: auto;
        margin-left: 0;
        transform: translate(-50%, 0);
        left: calc(50% + 1rem);
    }
}

@media (min-width: 720px) {
    .c-tool-tip .tool-tip-text {
        min-width: 478px;
    }
}