@charset "UTF-8";
.c-consent-request-gating {
    box-sizing: border-box;
    margin-bottom: 3rem;
    padding: 0 15px;
}

.c-consent-request-gating * {
    box-sizing: border-box;
}

.c-consent-request-gating .hide, .c-consent-request-gating.hide {
    display: none;
}

.c-consent-request-gating h2.title {
    color: #26a2b5;
    margin-top: 0;
    padding-top: 64px;
}

.c-consent-request-gating .error-message p,
.c-consent-request-gating .modal-error-message p {
    text-align: center;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #c81414;
}

.c-consent-request-gating .error-message {
    margin-top: 1rem;
}

.c-consent-request-gating .error-message p {
    font-size: 18px;
}

.c-consent-request-gating .content-section .actions-section {
    margin-bottom: 1rem;
}

.c-consent-request-gating .content-section .actions-section .consent-btn a,
.c-consent-request-gating .content-section .actions-section .consent-btn button {
    width: 100%;
}

.c-consent-request-gating .consent-request-modal {
    z-index: 100;
    position: fixed;
}

.c-consent-request-gating .consent-request-modal .modal-shade {
    background-color: #fff;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.c-consent-request-gating .consent-request-modal .modal-container {
    background-color: #fff;
    position: fixed;
    transform: translate(-50%, 0);
    top: 0;
    left: 50%;
    width: 100%;
    z-index: 2;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-close {
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    z-index: 10;
    padding: 0;
    width: 48px;
    height: 48px;
    background-color: transparent;
    color: #000;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-close::after {
    font-family: "iconfonts";
    color: #000;
    content: "";
    font-size: 2.5rem;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-title,
.c-consent-request-gating .consent-request-modal .modal-container .modal-text {
    color: #333;
    font-family: "Georgia", "Times New Roman", Times, serif;
    font-size: 17px;
    line-height: 27px;
    margin: 0;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-title {
    background-color: #f4f8fc;
    padding: 1.6875rem 3.3125rem 1.6875rem 2.125rem;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-title h2 {
    margin: 0;
    font-size: 20px;
    line-height: 28px;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text {
    position: relative;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text.section-fixed.shadow-after::after, .c-consent-request-gating .consent-request-modal .modal-container .modal-text.section-fixed.shadow-before::before {
    position: absolute;
    content: '';
    width: 98%;
    height: 2.6rem;
    left: 0;
    z-index: 1;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text.section-fixed.shadow-after::after {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), #fff);
    bottom: 0;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text.section-fixed.shadow-before::before {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), #fff);
    top: 0;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text .text-section {
    /* Track */
    /* Handle */
    /* Handle on hover */
    padding: 1.5rem 0;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text .text-section::-webkit-scrollbar {
    width: 10px;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text .text-section::-webkit-scrollbar-track {
    background: transparent;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text .text-section::-webkit-scrollbar-thumb {
    background: #ebebeb;
    background: -moz-linear-gradient(left, #ebebeb 0%, #ebebeb 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #ebebeb), color-stop(50%, #ebebeb), color-stop(51%, rgba(255, 255, 255, 0)), color-stop(71%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, #ebebeb 0%, #ebebeb 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, #ebebeb 0%, #ebebeb 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, #ebebeb 0%, #ebebeb 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, #ebebeb 0%, #ebebeb 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff', GradientType=1 );
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text .text-section::-webkit-scrollbar-thumb:hover {
    background: #ebebeb;
    background: -moz-linear-gradient(left, #cccccc 0%, #cccccc 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #cccccc), color-stop(50%, #cccccc), color-stop(51%, rgba(255, 255, 255, 0)), color-stop(71%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, #cccccc 0%, #cccccc 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, #cccccc 0%, #cccccc 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, #cccccc 0%, #cccccc 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, #cccccc 0%, #cccccc 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff', GradientType=1 );
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text .text-section .full-section {
    padding: 0 1rem;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text .text-section .full-section.hide {
    display: none;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text .text-section .full-section .checkbox-item {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text .text-section .full-section .checkbox-item input {
    display: inline-block;
    width: 1rem;
    margin: 0;
    margin-top: 4px;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text .text-section .full-section .checkbox-item .input-description {
    display: inline-block;
    width: calc(100% - 1rem);
    padding-left: 1rem;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text .text-section .full-section .checkbox-item .input-description label p {
    font-size: 14px;
    font-weight: normal;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-text .text-section .full-section .checkbox-item label {
    margin: 0;
}

.c-consent-request-gating .consent-request-modal .modal-container .anchor-container {
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 40px;
    z-index: 2;
}

.c-consent-request-gating .consent-request-modal .modal-container .anchor-container.hide {
    display: none;
}

.c-consent-request-gating .consent-request-modal .modal-container .anchor-container .circle-button {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(25, 25, 25, 0.1);
    background: #2f78c6;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: relative;
}

.c-consent-request-gating .consent-request-modal .modal-container .anchor-container .circle-button::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 6px;
    color: #fff;
    content: "";
    font-family: "iconfonts";
    font-size: 16px;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-ctas {
    margin: 0 .25rem;
    padding: 2.5rem 1.5625rem;
    border-top: 1px solid #ccc;
    text-align: center;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-ctas button {
    display: block;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-ctas button.c-interaction-button {
    width: 100%;
    padding: .75rem 1.875rem;
}

.c-consent-request-gating .consent-request-modal .modal-container .modal-ctas button.unstyled {
    background-color: transparent;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    border-radius: 0;
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    transition: none;
    color: #2f78c6;
    margin-top: 1rem;
}

@media (min-width: 720px) {
    .c-consent-request-gating {
        min-height: 1px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        width: 66.66666667%;
        margin-bottom: 4rem;
        padding: 0;
    }
}

@media (min-width: 720px) and (min-width: 720px) {
    .c-consent-request-gating {
        width: 66.66666667%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 720px) {
    .c-consent-request-gating h2.title {
        padding-right: 10rem;
    }
    .c-consent-request-gating .content-section {
        display: flex;
    }
    .c-consent-request-gating .content-section.hide {
        display: none;
    }
    .c-consent-request-gating .content-section .actions-section {
        min-height: 1px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        width: 41.66666667%;
        margin-bottom: 0;
        margin-right: 1rem;
    }
}

@media (min-width: 720px) and (min-width: 720px) {
    .c-consent-request-gating .content-section .actions-section {
        width: 41.66666667%;
        float: left;
    }
}

@media (min-width: 720px) {
    .c-consent-request-gating .content-section .actions-section .consent-btn a,
    .c-consent-request-gating .content-section .actions-section .consent-btn button {
        width: auto;
    }
    .c-consent-request-gating .content-section .description {
        min-height: 1px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        width: 58.33333333%;
    }
}

@media (min-width: 720px) and (min-width: 720px) {
    .c-consent-request-gating .content-section .description {
        width: 58.33333333%;
        float: left;
    }
}

@media (min-width: 720px) {
    .c-consent-request-gating .consent-request-modal .modal-shade {
        background-color: rgba(25, 25, 25, 0.8);
    }
    .c-consent-request-gating .consent-request-modal .modal-container {
        width: 590px;
        box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.35);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
    .c-consent-request-gating .consent-request-modal .modal-container .modal-title {
        background-color: #f4f8fc;
        padding: 2rem 4rem;
    }
    .c-consent-request-gating .consent-request-modal .modal-container .modal-text .text-section {
        padding: 2rem 0;
    }
    .c-consent-request-gating .consent-request-modal .modal-container .modal-text .text-section .full-section {
        padding: 0 4rem;
    }
    .c-consent-request-gating .consent-request-modal .modal-container .modal-ctas button.edc-primary-btn {
        margin: auto;
        width: 330px;
        padding: 1.25rem 1.875rem;
    }
}

@media (min-width: 960px) {
    .c-consent-request-gating {
        min-height: 1px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        width: 50%;
    }
}

@media (min-width: 960px) and (min-width: 960px) {
    .c-consent-request-gating {
        width: 50%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}