<template data-sly-template.emptyPageSection="">
      <div data-page="1" class="page page-1 show"></div>
</template>

<template data-sly-template.actionSection="">
    <div class="actions-section hide">
        <div class="actions">
            <h4 class="pagination">
                <span class="incremental-number">1</span>/<span class="total-pages">1</span>
            </h4>
            <button type="button" class="no-btn arrow arrow-left disabled" data-go-to="left" disabled=""></button>
            <button type="button" class="no-btn arrow arrow-right" data-go-to="right"></button>
        </div>
    </div>
</template>