@charset "UTF-8";
.mega-nav .mobile-nav button, .mega-nav .mobile-nav .controls button {
    height: 48px;
    padding: .3em;
    width: 48px;
}

.mega-nav .mobile-nav .close, .mega-nav .mobile-nav .controls .close {
    position: relative;
}

.mega-nav .mobile-nav .close::before, .mega-nav .mobile-nav .controls .close::before {
    content: "";
    font-family: "iconfonts";
    font-size: 1.2rem;
    left: 1rem;
    position: absolute;
    top: 1rem;
}

.mega-nav {
    -moz-transition: all 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
    -o-transition: all 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-transition: all 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: all 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
    background: #1a65b2;
    flex: 2;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100vh;
    left: -100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.mega-nav.show {
    left: 0;
    overflow-y: scroll;
}

.mega-nav.show .close:not(.edc-secondary-btn) {
    background-color: #1a65b2;
}

.mega-nav.show.fixed {
    overflow-y: hidden;
}

.mega-nav.show.fixed .close.edc-secondary-btn {
    background-color: #fff;
}

.mega-nav .level-0 li:nth-child(4) .submenu .nav-column .three-columns li:last-child a {
    font-weight: 600;
    text-decoration: underline;
}

.mega-nav > ul {
    flex-flow: column;
    padding: 0;
    width: 100%;
    display: inline-flex;
}

.mega-nav > ul.level-0 {
    margin-bottom: 20px;
}

.mega-nav > ul > li {
    margin-right: 20px;
}

.mega-nav > ul > li > a {
    text-decoration: none;
}

.mega-nav > ul > li > a.language-toggle .language-m {
    display: none;
}

.mega-nav > ul ul {
    padding-left: 1rem;
}

.mega-nav > ul ul ul {
    padding-left: 1rem;
}

.mega-nav > ul li.level-0.separator {
    border-bottom: 0;
    height: 0;
    width: calc(100% - 50px);
    padding: 1rem 25px;
}

.mega-nav > ul li.level-0.separator .divider {
    border-bottom: 1px solid #4386ac;
    position: relative;
    z-index: 0;
}

.mega-nav > ul li.level-0.separator:last-child {
    margin-bottom: 100px;
}

.mega-nav > ul li.level-0.mobile-nav {
    box-sizing: border-box;
    display: block;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
}

.mega-nav .nav-column a {
    text-decoration: none;
}

.mega-nav .nav-column a:hover, .mega-nav .nav-column a:focus, .mega-nav .nav-column a:active, .mega-nav .nav-column a:visited {
    text-decoration: underline;
}

.mega-nav .mobile-nav button {
    padding: 1em;
}

.mega-nav .mobile-nav .close {
    float: right;
}

.mega-nav .mobile-nav .controls {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 12px 10px 0 20px;
}

.mega-nav .mobile-nav .controls button {
    font-size: 30px;
}

.mega-nav .mobile-nav .controls .back {
    position: relative;
}

.mega-nav .mobile-nav .controls .back::before {
    content: "";
    font-family: "iconfonts";
    font-size: 30px;
    padding-top: 10px;
    left: -5px;
    position: absolute;
    top: 0;
}

.mega-nav .level-0 {
    background: #1a65b2;
    margin: 0;
}

.mega-nav .level-0 > a {
    background: #1a65b2;
    color: #fff;
    display: block;
    padding-left: 1rem;
    width: 100%;
}

@media (min-width: 960px) {
    .mega-nav .level-0 {
        background: none;
    }
    .mega-nav .level-0 > a {
        background: transparent;
        display: inline;
        padding-left: 0;
    }
}

.mega-nav li.level-0 {
    width: calc(100% - 25px);
}

.mega-nav li.level-0 a {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mega-nav .level-2 {
    margin-top: 20px;
    width: calc(100% - 25px);
}

.mega-nav h4,
.mega-nav .level-1 {
    font-size: 16px;
}

.mega-nav .submenu {
    -moz-transition: all 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
    -o-transition: all 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
    -webkit-transition: all 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
    transition: all 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
    background: #fff;
    height: calc(100vh - 230px);
    left: -110vw;
    overflow-y: auto;
    padding-top: 130px;
    padding-bottom: 100px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.mega-nav .submenu.show {
    box-shadow: 0 0 2px 3px rgba(51, 51, 51, 0.1);
    left: 0;
    visibility: visible;
}

.mega-nav .submenu.show .parent {
    position: fixed;
}

.mega-nav .submenu.show .parent a {
    display: block;
    padding: 1.5rem 0 1.5rem 1rem;
}

.mega-nav .submenu .parent {
    background: #fff;
    box-shadow: 0 0 1px 1px rgba(51, 51, 51, 0.15);
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.mega-nav .submenu .parent a {
    padding-left: 25px;
    text-decoration: none;
}

.mega-nav .submenu .parent a:hover, .mega-nav .submenu .parent a:focus, .mega-nav .submenu .parent a:active, .mega-nav .submenu .parent a:visited {
    text-decoration: underline;
}

.mega-nav .submenu li {
    line-height: 1.5;
    margin-bottom: 20px;
}

.mega-nav .submenu .title {
    padding-left: 1rem;
    margin: 3rem 0 1rem;
}

.mega-nav .submenu .level-1 .sub-level {
  padding-left: 0;
  padding-top: 1rem;
}

.mega-nav .submenu .level-1 .sub-level .arrow::before {
  color: #2f78c6;
  content: "";
  font-family: "iconfonts";
  font-size: 12px;
  padding-right: .31rem;
  float: left;
  line-height: 1.56rem;
}

.top-nav {
    z-index: 3;
}

.bottom-nav {
    -moz-transition: all 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
    -o-transition: all 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-transition: all 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: all 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
    left: -100vw;
    width: 100%;
    z-index: 1000201;
}

.bottom-nav.show {
    -moz-transition: all 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
    -o-transition: all 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
    -webkit-transition: all 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: all 0.8s cubic-bezier(0.65, 0.05, 0.36, 1);
    left: 0;
}

.bottom-nav .container {
    padding-left: 0;
    position: relative;
}

@media (min-width: 720px) {
    .mega-nav {
        padding-top: 0;
        padding-bottom: 0;
        width: 320px;
    }
    .mega-nav.show {
        left: 0;
        overflow: visible;
    }
    .mega-nav ul ul {
        padding-left: 0;
    }
    .mega-nav ul ul ul {
        padding-left: .625rem;
    }
    .mega-nav ul .level-0 {
        width: calc(100% - 2rem);
    }
    .mega-nav ul .level-0 > a {
        padding-left: 2rem;
    }
    .mega-nav ul .level-0 > a.language-toggle {
        display: none;
    }
    .mega-nav ul .level-0 > .mobile-nav {
        width: calc(100% - 1.25rem);
    }
    .mega-nav ul .level-0.separator {
        width: calc(100% - 1.25rem);
        margin-bottom: 1rem;
    }
    .mega-nav ul .level-0 a.bottom-items {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        padding-top: .75rem;
        padding-bottom: .75rem;
    }
    .mega-nav .submenu {
        -moz-transition: left 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
        -o-transition: left 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
        -webkit-transition: left 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
        transition: left 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
        position: fixed;
        left: -320px;
        opacity: 0;
        width: 320px;
        z-index: -1;
    }
    .mega-nav .submenu .nav-column {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
    .mega-nav .submenu.show {
        -moz-transition: left 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
        -o-transition: left 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
        -webkit-transition: left 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
        transition: left 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
        left: 320px;
        opacity: 1;
        z-index: 2;
    }
    .mega-nav .submenu.show .parent {
        position: absolute;
    }
    .mega-nav .submenu.show .parent a {
        padding-left: 1.875rem;
    }
    .mega-nav .submenu .title {
        padding-left: 0;
        margin: 2.5rem 0 1rem;
    }
    .mega-nav .mobile-nav .controls {
        height: 48px;
    }
    .mega-nav .mobile-nav .controls button {
        display: none;
    }
    .bottom-nav {
        left: -720px;
        width: 720px;
    }
}

@media (min-width: 960px) {
    .bottom-nav {
        background: #fff;
        left: 0;
        width: auto;
    }
    .bottom-nav .container {
        display: flex;
    }
    .mega-nav {
        background: transparent;
        height: auto;
        left: 0;
        text-align: right;
        position: relative;
        width: auto;
    }
    .mega-nav .submenu {
        position: fixed;
        text-align: left;
    }
    .mega-nav .submenu.show {
        left: -100px;
        opacity: 0;
    }
    .mega-nav .submenu.show .parent {
        position: absolute;
    }
    .mega-nav ul {
        flex-flow: row;
        width: auto;
    }
    .mega-nav ul.level-0 {
        margin-bottom: 0;
    }
    .mega-nav ul li:hover .submenu, .mega-nav ul li.hover .submenu {
        -moz-transition: all 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
        -o-transition: all 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
        -webkit-transition: all 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
        transition: all 0.35s cubic-bezier(0.35, 0.05, 0.36, 1);
        box-shadow: 0 0 2px 3px rgba(51, 51, 51, 0.05);
        display: flex;
        opacity: 1;
        top: 50px;
        visibility: visible;
        z-index: 1;
    }
    .mega-nav ul li:hover .submenu.no-columns, .mega-nav ul li.hover .submenu.no-columns {
        display: none;
    }
    .mega-nav ul li.no-children .submenu {
        display: none;
    }
    .mega-nav ul li.level-0 {
        padding-left: 0;
        width: auto;
    }
    .mega-nav ul li.level-0 a {
        padding: 1rem .9375rem 1.125rem;
    }
    .mega-nav ul li.level-0.separator {
        display: none;
    }
    .mega-nav ul li.level-0.separator:not(.search-separator) ~ li {
        display: none;
    }
    .mega-nav ul li.level-0.mobile-nav {
        display: none;
    }
    .mega-nav ul li.level-0.about-exporting .submenu {
        left: 10px !important;
    }
    .mega-nav ul li.level-0.about-exporting .submenu::before {
        left: 50px !important;
    }
    .mega-nav ul li.level-0.about-us .submenu.two-columns {
        left: -450px;
    }
    .mega-nav ul li.level-0 .submenu .title,
    .mega-nav ul li.level-0 .submenu a {
        font-size: 14px;
    }
    .mega-nav ul li.level-0 .submenu.two-columns {
        left: -360px;
        min-width: 460px;
        /* IE11 workaround */
    }
    .mega-nav ul li.level-0 .submenu.two-columns::before {
        left: 250px;
    }
    .mega-nav ul li.level-0 .submenu.three-columns {
        min-width: 790px;
        /* IE11 workaround */
    }
    .mega-nav ul li.level-0 .submenu.four-columns {
        left: -460px;
        min-width: 960px;
        /* IE11 workaround */
    }
    .mega-nav ul li.level-0 .submenu.four-columns::before {
        left: 210px;
    }
    .mega-nav ul li.level-0.two-columns .submenu {
        left: -230px;
        min-width: 500px;
        /* IE11 workaround */
    }
    .mega-nav ul li.level-0.two-columns .submenu::before {
        left: 270px;
    }
    .mega-nav ul li.level-0.knowledge-centre .submenu {
        left: -230px;
        min-width: 790px;
        /* IE11 workaround */
    }
    .mega-nav ul li.level-0.knowledge-centre .submenu::before {
        left: 340px;
    }
    .mega-nav ul.touched li.level-0:not(.touched) a {
        -moz-transition: color 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
        -o-transition: color 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
        -webkit-transition: color 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
        transition: color 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
        color: #ebebeb;
    }
    .mega-nav ul:hover li.level-0 a {
        color: #1a65b2;
    }
    .mega-nav ul:hover li.level-0:not(:hover) a {
        -moz-transition: color 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
        -o-transition: color 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
        -webkit-transition: color 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
        transition: color 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
        color: #333;
    }
    .mega-nav .level-0 {
        padding-left: 0;
        position: relative;
        width: auto;
    }
    .mega-nav .level-0 > a {
        -moz-transition: all 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
        -o-transition: all 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
        -webkit-transition: all 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
        transition: all 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
        display: block;
        width: auto;
        color: #333;
        font-size: 14px;
        font-weight: 600;
        padding-right: 20px;
    }
    .mega-nav .submenu {
        background: #fff;
        border: 1px solid rgba(51, 51, 51, 0.3);
        border-radius: 4px;
        box-shadow: 0 0 2px 3px rgba(51, 51, 51, 0.01);
        display: flex;
        height: auto;
        left: -170px;
        min-height: 1px;
        opacity: 0;
        overflow: visible;
        padding: 40px;
        position: absolute;
        top: 65px;
        visibility: hidden;
        width: auto;
    }
    .mega-nav .submenu::before {
        border-radius: 2px;
        left: 141px;
        position: absolute;
        top: -9px;
    }
    .mega-nav .submenu .mobile-nav {
        display: none;
    }
    .mega-nav .submenu .level-1 {
        line-height: 1.5;
    }
    .mega-nav .submenu .level-1 a {
        padding: .5rem 3rem .5rem 0;
    }

  .mega-nav .submenu .level-1 .sub-level {
    padding-top: 0;
  }

  .mega-nav .submenu .level-1 .sub-level .arrow::before {
    line-height: 2.18rem;
  }

    .mega-nav .submenu .parent,
    .mega-nav .submenu .title,
    .mega-nav .submenu li {
        padding-left: 0;
    }
    .mega-nav .submenu li {
        margin-bottom: 0;
    }
    .mega-nav .submenu .level-2 {
        margin-top: 0;
        width: 100%;
    }
    .mega-nav .submenu .nav-column {
        margin-right: 40px;
        padding: 0;
    }
    .mega-nav .nav-column {
        border-right: 1px solid rgba(51, 51, 51, 0.3);
    }
    .mega-nav .nav-column:last-child {
        border-right: 0;
        margin-right: 0;
        padding-right: 0;
    }
    .mega-nav .nav-column .title:first-of-type {
        margin-top: 0;
    }
    .mega-nav .nav-column a {
        color: #4386ac;
        display: block;
        padding: .5em 0;
    }
    .mega-nav .nav-column ul {
        width: 210px;
    }
    .mega-nav .nav-column ul.small-width {
        width: 120px;
    }
    .mega-nav .nav-column ul.two-columns {
        column-count: 2;
        width: 470px;
    }
    .mega-nav .nav-column ul.two-columns li {
        display: inline-block;
        width: 100%;
    }
    .mega-nav .nav-column ul.three-columns {
        column-count: 3;
        width: 470px;
    }
    .mega-nav .nav-column ul.three-columns li {
        display: inline-block;
        margin-right: 30px;
        width: 100%;
    }
    .top-nav {
        z-index: 1000203;
    }
}

@media (min-width: 1140px) {
    .mega-nav .submenu {
        position: absolute;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .mega-nav > ul {
        display: block;
    }
}

@media all and (-ms-high-contrast: none) and (min-width: 960px), (-ms-high-contrast: active) and (min-width: 960px) {
    .mega-nav > ul {
        display: inline-flex;
    }
}