@charset "UTF-8";
.c-newsletter-subscription {
    box-sizing: border-box;
}

.c-newsletter-subscription * {
    box-sizing: border-box;
}

.c-newsletter-subscription .hide {
    display: none;
}

.c-newsletter-subscription button {
    width: 100%;
    margin: 1rem 0;
}

.c-newsletter-subscription span.error {
    display: none;
}

.c-newsletter-subscription .note {
    display: flex;
}

.c-newsletter-subscription .note input {
    display: inline-table;
    float: left;
}

.c-newsletter-subscription .note p {
    color: #333;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.4px;
    line-height: 2;
    float: left;
    line-height: 1.33333 !important;
    margin: 0;
}

@media (min-width: 720px) {
    .c-newsletter-subscription .note p {
        font-size: .75rem;
        line-height: 2;
        letter-spacing: 0.4px;
    }
}

@media (min-width: 960px) {
    .c-newsletter-subscription .note p {
        font-size: .75rem;
        line-height: 2;
        letter-spacing: 0.4px;
    }
}

.c-newsletter-subscription .form-content.hide {
    display: none;
}

.c-newsletter-subscription .form-content img {
    width: 55px;
}

.c-newsletter-subscription .actions {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
}

.c-newsletter-subscription .actions.inside-campaign-modal {
    padding-top: 2.5rem;
}

.c-newsletter-subscription .actions.inside-campaign-modal .dismiss-btn {
    margin-right: 1rem;
}

.c-newsletter-subscription .actions button {
    width: 100%;
    height: 3.5rem;
}

.c-newsletter-subscription .actions button + button {
    margin-bottom: 3%;
}

.c-newsletter-subscription .actions.hide {
    display: none;
}

.c-newsletter-subscription .success {
    display: none;
}

.c-newsletter-subscription .success .title {
    color: #333;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0;
    margin-top: 0;
    color: #4386ac;
}

@media (min-width: 720px) {
    .c-newsletter-subscription .success .title {
        font-size: 1.25rem;
        line-height: 1.2;
        letter-spacing: -0.1px;
    }
}

@media (min-width: 960px) {
    .c-newsletter-subscription .success .title {
        font-size: 1.375rem;
        line-height: 1.4545;
        letter-spacing: -0.2px;
    }
}

.c-newsletter-subscription .success.show {
    display: block;
}

.c-newsletter-subscription .title {
    margin: 2rem 0 1rem;
}

.c-newsletter-subscription.newsletter-banner {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
    background-color: #f5f9fb;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    padding-top: 1rem;
    z-index: 1000201;
}

@media (min-width: 720px) {
    .c-newsletter-subscription.newsletter-banner {
        width: 100%;
        float: left;
    }
}

.c-newsletter-subscription.newsletter-banner.show {
    display: block;
}

.c-newsletter-subscription.newsletter-banner .newsletter-content .close-button {
    cursor: pointer;
    color: #004a6b;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    padding: 0;
    background: none;
    width: auto;
}

.c-newsletter-subscription.newsletter-banner .newsletter-content .close-button::after {
    content: "";
    font-family: "iconfonts";
    font-size: 48px;
}

.c-newsletter-subscription.newsletter-banner .newsletter-content .form-content > h3 {
    min-height: 1px;
    padding-left: 0;
    padding-right: 15px;
    position: relative;
    width: 75%;
    margin-top: 0;
}

@media (min-width: 720px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-content .form-content > h3 {
        width: 75%;
        float: left;
    }
}

.c-newsletter-subscription.newsletter-banner .newsletter-content .success {
    min-height: 1px;
    padding-left: 0;
    padding-right: 15px;
    position: relative;
    width: 75%;
}

@media (min-width: 720px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-content .success {
        width: 75%;
        float: left;
    }
}

.c-newsletter-subscription.newsletter-body {
    overflow: hidden;
    border-top: 1px solid rgba(51, 51, 51, 0.3);
    margin: 0 1rem;
    padding: 0;
}

.c-newsletter-subscription.newsletter-body .title {
    color: #333;
    font-family: "benton-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0;
}

@media (min-width: 720px) {
    .c-newsletter-subscription.newsletter-body .title {
        font-size: 1.25rem;
        line-height: 1.2;
        letter-spacing: -0.1px;
    }
}

@media (min-width: 960px) {
    .c-newsletter-subscription.newsletter-body .title {
        font-size: 1.375rem;
        line-height: 1.4545;
        letter-spacing: -0.2px;
    }
}

.c-newsletter-subscription.newsletter-body .content img {
    width: 55px;
}

article.article aside .c-newsletter-subscription.newsletter-body,
article.video aside .c-newsletter-subscription.newsletter-body {
    margin-left: 0;
    margin-right: 0;
    margin: 0 1rem;
    padding: 0;
}

article.article aside .c-newsletter-subscription.newsletter-body .title,
article.video aside .c-newsletter-subscription.newsletter-body .title {
    font-size: 16px;
    line-height: 1.5;
}

article.article aside .c-newsletter-subscription.newsletter-body .success .title,
article.video aside .c-newsletter-subscription.newsletter-body .success .title {
    font-size: 16px;
    line-height: 1.5;
}

@media (min-width: 720px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-form {
        margin-top: 2rem;
    }
    .c-newsletter-subscription.newsletter-body .newsletter-content {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 83.33333333%;
    }
}

@media (min-width: 720px) and (min-width: 720px) {
    .c-newsletter-subscription.newsletter-body .newsletter-content {
        width: 83.33333333%;
        float: left;
    }
}

@media (min-width: 720px) and (min-width: 720px) {
    .c-newsletter-subscription.newsletter-body .newsletter-content {
        margin-left: 8.33333333%;
    }
}

@media (min-width: 720px) {
    .c-newsletter-subscription.newsletter-body button {
        width: auto;
    }
    .c-newsletter-subscription .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    .c-newsletter-subscription .actions button {
        width: auto;
        height: 3.5rem;
    }
    .c-newsletter-subscription .actions button + button {
        margin-left: 3%;
        margin-bottom: 0;
    }
    article.article aside .c-newsletter-subscription.newsletter-body,
    article.video aside .c-newsletter-subscription.newsletter-body {
        width: 85%;
        margin: 0 1rem;
        padding: 0;
    }
    article.article aside .c-newsletter-subscription.newsletter-body button,
    article.video aside .c-newsletter-subscription.newsletter-body button {
        width: 100%;
    }
    article.article aside .c-newsletter-subscription.newsletter-body .newsletter-content,
    article.video aside .c-newsletter-subscription.newsletter-body .newsletter-content {
        width: 100%;
        margin: 0;
    }
    article.article aside .c-newsletter-subscription.newsletter-body .content input,
    article.video aside .c-newsletter-subscription.newsletter-body .content input {
        width: 100%;
    }
}

@media (min-width: 960px) {
    .c-newsletter-subscription.newsletter-banner {
        padding-bottom: 1rem;
    }
    .c-newsletter-subscription.newsletter-banner .newsletter-content .container {
        position: relative;
    }
    .c-newsletter-subscription.newsletter-banner .newsletter-content .newsletter-form {
        min-height: 1px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
        width: 100%;
    }
}

@media (min-width: 960px) and (min-width: 720px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-content .newsletter-form {
        width: 100%;
        float: left;
    }
}

@media (min-width: 960px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-content .newsletter-form .form-content > h3 {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 0;
        position: relative;
        width: 50%;
    }
}

@media (min-width: 960px) and (min-width: 720px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-content .newsletter-form .form-content > h3 {
        width: 50%;
        float: left;
    }
}

@media (min-width: 960px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-content .newsletter-form .form-content .content-fields {
        min-height: 1px;
        padding-left: 0.5rem;
        padding-right: 15px;
        position: relative;
        width: 50%;
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }
}

@media (min-width: 960px) and (min-width: 720px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-content .newsletter-form .form-content .content-fields {
        width: 50%;
        float: left;
    }
}

@media (min-width: 960px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-content .newsletter-form .form-content .content-fields > input {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 50%;
        order: 1;
    }
}

@media (min-width: 960px) and (min-width: 720px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-content .newsletter-form .form-content .content-fields > input {
        width: 50%;
        float: left;
    }
}

@media (min-width: 960px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-content .newsletter-form .form-content .content-fields > button {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 33.33333333%;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-top: 0;
        order: 2;
    }
}

@media (min-width: 960px) and (min-width: 720px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-content .newsletter-form .form-content .content-fields > button {
        width: 33.33333333%;
        float: left;
    }
}

@media (min-width: 960px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-content .newsletter-form .form-content .content-fields .note {
        min-height: 1px;
        padding-left: 0;
        padding-right: 15px;
        position: relative;
        width: 100%;
        order: 3;
    }
}

@media (min-width: 960px) and (min-width: 720px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-content .newsletter-form .form-content .content-fields .note {
        width: 100%;
        float: left;
    }
}

@media (min-width: 960px) {
    .c-newsletter-subscription.newsletter-banner .newsletter-content .newsletter-form .form-content .content-fields span.error {
        order: 3;
    }
    .c-newsletter-subscription.newsletter-banner .newsletter-content .newsletter-form .form-content .content-fields .submit-failed-message {
        order: 4;
    }
    .c-newsletter-subscription.newsletter-body {
        margin: 0 1rem;
        padding: 0;
    }
    .c-newsletter-subscription.newsletter-body .newsletter-content {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 58.33333333%;
    }
}

@media (min-width: 960px) and (min-width: 720px) {
    .c-newsletter-subscription.newsletter-body .newsletter-content {
        width: 58.33333333%;
        float: left;
    }
}

@media (min-width: 960px) and (min-width: 720px) {
    .c-newsletter-subscription.newsletter-body .newsletter-content {
        margin-left: 16.66666667%;
    }
}

@media (min-width: 960px) {
    .c-newsletter-subscription.newsletter-body .content-fields input,
    .c-newsletter-subscription.newsletter-body .content-fields .error,
    .c-newsletter-subscription.newsletter-body .content-fields .note {
        width: 91.66667%;
    }
}